
include Version

OBJS = src/core/cpu.o src/core/debug.o src/core/gnuboy.o src/core/hw.o src/core/lcd.o \
src/core/rtc.o src/core/save.o src/core/sound.o


INCS = -I.

MYCC = $(CC) $(CFLAGS) $(INCS) $(SYS_INCS) $(SYS_DEFS)
MYAS = $(AS) $(ASFLAGS) $(INCS) $(SYS_INCS) $(SYS_DEFS)

main.o: Version

.c.o:
	$(MYCC) -c $< -o $@

.s.o:
	$(MYAS) -c $< -o $@










